.form {
    border: double 6px black;
    outline: solid 2px black;
    padding-left: 10px;
    margin: 5%;
}

#heading {
    border: 2px solid black;
    display: inline-block; 
    padding: 7px;
    border-radius: 6px;
    margin-left: 40%;
}



#signtxt{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 75%;
}
#signtxt1 {
    display: flex;
    flex-direction: row;
    float: inline-end;
  }
  
  #name1 {
    display: flex;
    flex-direction: row;
    align-items: center;
        margin-right: 15%;
  }


  #sign1 {
    display: flex;
    flex-direction: row;
    align-items: center;

  }


  #signtxt2 {
    display: flex;
    flex-direction: row;
    float: inline-end;
  }
  
  #name2 {
    display: flex;
    flex-direction: row;
    align-items: center;
        margin-right: 15%;
  }


  #sign2 {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

#mobileNo {
    margin-left: 35%;
}

.form input[type="text"] {
    width: 15ch;
    border: none;
    border-bottom: 3px dotted #000;
    text-decoration: none;
}

.form button {
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #4caf50;
  margin: 4px;
  margin-right: 5%;
  cursor: pointer;
}



