/* Home.css */

/* Style for the navigation list */
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display the list items in a horizontal line */
}

/* Style for each navigation item */
.nav-item {
  margin-right: 20px; /* Adjust the spacing between items */
  /* font-size: large; */
}

/* Style for the Dropdown Toggle */
.dropdown-toggle {
  background-color: #007bff; /* Example color */
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

/* Style for the Dropdown Menu */
.dropdown-menu {
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for the Dropdown Items */
.dropdown-item {
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.bi_logout{
  margin-left: 70px;
  background-color: #007bff;
}

.shift_left
{
  margin-right: auto;
  text-decoration: none;
  list-style: none;
}