.past1l1{
    padding: 1px;
    margin-right: 8px;
    margin-bottom: 8px;
}
/* body{
    padding: 1px;
} */
#past1-div-body
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; 
}
.past1div
{
    flex: 1;
    max-width:450px;
    padding-right: 100px;
}
#past1divOther
{
    padding-right: 0px;
}
#past1bold
{
    font-weight: 700;
    padding: 10px;
}
.past1text {
    resize: none; 
    border: none; 
    outline: none; 
    overflow: hidden; 
    padding: 10px;
    width: 70%; 
  }
  .past1text1
  {
    resize: none; 
    border: none; 
    outline: none; 
    overflow: hidden; 
    padding: 10px;
    width: 10%; 
  }
  .past1table {
    border-collapse: collapse;
    width: 40%;
    margin: 10px;
}

.past1-th, .past1-td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* .navigation .right-btn {
    margin-left: auto;
}

.navigation .left-btn {
    margin-right: auto;
} */

/* .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px; 
} */

/* .navigation button {
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
}  */

/* .book {
    width:98%;
    margin: 0 auto;
    padding: 7px;
    border: 3px double #000;
} */

/* .page {
    border: 1px double #000;
} */

.past1-ul {
    list-style-type: circle;
    list-style: disc;
    display: flex;
    flex-direction: column;
}

.past1-li{
    display: flex;
    justify-content: space-between;
    /* border: solid 1px black; */
    padding: 5px;
}
/* .book-form {
    border: 2px double #000;
    padding: 20px;
    margin: 20px;
} */
.ph_endbtn button
{
    font-size: 15px;
    padding: 12px 12px;
    border-radius: 10px;
    margin: 10px 4px;
}
.ph_endbtn button:hover
{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(68, 66, 66);
    color: white;
    font-weight: 300;
}
.ph_display{
    display: flex;
    justify-content: center;
}


  
  