.past3book {
    margin: 0 auto;
    padding: 7px;
    border: 15px double #000;
}

.past3page {
    border: none;
}

input[name="name"],
input[name="age"],
input[type="date"] {
    border: none;
    padding: 3px;
    margin-bottom: 10px;
    size: 80px;
}

.past3-li{
    font-weight: bold;
}

/* .text {
    resize: none; 
    border: none !important; 
    border-bottom: none;
    outline: none; 
    overflow: hidden; 
    padding: 10px;
    width: 100%;
    opacity: 0.6; 
} */

.past3book {
    width: 98%;
    margin: 0 auto;
    padding: 7px;
    border: 300px double #000;
}


.past3form {
    margin-bottom: 20px;
    padding: 10px;
}


/* .past3navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.navigation button {
    padding: 10px 10px;
    font-size: 12px;
    cursor: pointer;
} */

/* .navigation .left-btn {
    margin-right: auto;
}

.navigation .right-btn {
    margin-left: auto;
} */

/* body {
    padding: 10px;
} */

.past3button {
    margin-top: 8px;
  }

input[name="historyOfAlcoholismOrSubstanceAbuse"],
input[name="physicalComplications"],
input[name="pastHistory"],
input[name="withdrawalSymptoms"],
input[name="psychiatricProblems"],
input[name="treatment"]{
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    padding: 5px; 
    margin-bottom: 15px; 
    width: 100%; 
    max-width: 1350px;
    height:100px;
    text-align: left; 
    overflow: hidden; 
    margin-inline-start:auto;
}

.ph_endbtn button
{
    font-size: 15px;
    padding: 12px 12px;
    border-radius: 10px;
    margin: 10px 4px;
}
.ph_endbtn button:hover
{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(68, 66, 66);
    color: white;
    font-weight: 300;
}
.ph_display{
    display: flex;
    justify-content: center;
}