.page{
    border: double 6px black;
    outline: solid 2px black;
    padding: 10px;
    margin: 5%;
}

.headline{
    text-align: center;
    font-size:x-large;
}

.page textarea{
    width : 100%;
}

.file-input-container{
    display: inline-flex;
    margin: 0%;
}



.page button{
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #4caf50;
    margin: 4px;
    margin-right: 5%;
    cursor: pointer;
}