.bi_page{
    border: double 6px black;
    outline: solid 2px black;
    padding: 10px;
    margin: 5%;
}

.bi_headline{
    text-align: center;
    font-size:x-large;
}

.bi_page textarea{
    width : 100%;
}

.bi_file-input-container{
    display: inline-flex;
    margin: 0%;
}

.bi_endbtn button:hover
{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(68, 66, 66);
    color: white;
    font-weight: 300;
}

/* .bi_page button{
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #4caf50;
    margin: 4px;
    margin-right: 5%;
    cursor: pointer;
} */