.bi_highlight{
    font-weight: lighter;
    font-style:normal;
}

.bi_id5{
    font-weight: bold;
    border: double 6px black;
    outline: solid 2px black;
    padding-left: 10px;
    margin: 5%;
    font-style: oblique;
}

.bi_id5 h3{
    padding: 0%;
    margin: 0%;
    font-style:normal;
    font-size: medium;
}

.bi_id5 input[type="text"],.id5 input[type="number"] {
    border: none;
    border-bottom: 3px dotted #000;
    text-decoration: none;
    width: (70 / viewport) * 100%;
    font-style:normal;
}


/* .bi_id5 button {
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #4caf50;
    margin: 4px;
    margin-right: 5%;
    cursor: pointer;
  } */

.bi_endbtn button:hover
{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(68, 66, 66);
    color: white;
    font-weight: 300;
}