.highlight{
    font-weight: lighter;
    font-style:normal;
}

.id5{
    font-weight: bold;
    border: double 6px black;
    outline: solid 2px black;
    padding-left: 10px;
    margin: 5%;
    font-style: oblique;
}

.id5 h3{
    padding: 0%;
    margin: 0%;
    font-style:normal;
}

.id5 input[type="text"],.id5 input[type="number"] {
    border: none;
    border-bottom: 3px dotted #000;
    text-decoration: none;
    width: (70 / viewport) * 100%;
    font-style:normal;
}



.id5 button {
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #4caf50;
    margin: 4px;
    margin-right: 5%;
    cursor: pointer;
  }

