#aditya {
    /* width: 20cm;
    min-height: 29.7cm;
    padding: 3%;
    margin: auto;*/
    padding : 20px 20px; 
    /* border: 4px double black; */
    /* position: relative;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; */
  }

.pad {
    padding-top: 0px;
}

#ad, #adi, #adii {
    color: #333;
}
#ad {
    text-align: left;
}

#adi {
    margin-bottom: 5px;
    margin-top: 20px;
}

#alcoholSymptoms {
    list-style-type: none;
    padding: 0;
}

#lillu {
    cursor: pointer;
}

.symptoms-container {
    display: flex;
    justify-content: space-between;
}

.symptoms-container div {
    width: 48%;
}

#hed {
    font-size: 15px;
}

.symptoms-container h2 {
    border-bottom: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.form-group label {
    width: 250px;
    margin-right: 10px;
}

#inni{
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    border-color: white;
}

.form-group input[type="text"] {
    width: 500px;
}

.plus-sign {
    color: black;
    cursor: pointer;
}

.checked .plus-sign::before {
    content: '\2713';
    color: black;
}

@media print {
   
  
    #aditya {
      page-break-before: always; /* Add a page break before each .page */
      margin: 1cm;
      box-shadow: none;
      border: 0;
    }
  }

@media screen and (max-width: 600px) {
    #aditya {
        width: 100%;
        min-width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
}

#di7 {
    display: flex;
    justify-content: center;
}

#prr {
    text-align: center;
    border: 2px solid black;
    width: 20px;
}
.mh_endbtn button
{
    font-size: 15px;
    padding: 12px 12px;
    border-radius: 10px;
    margin: 10px 4px;
}
.mh_endbtn button:hover
{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(68, 66, 66);
    color: white;
    font-weight: 300;
}
.mh_display
{
    display: flex;
    justify-content: center;
}
.divv2
{
    /* display: flex;
    justify-content: center; */
    margin: 50px 50px;
    border: double 6px black;
    outline: solid 2px black;
}