#divv1
{
   float: right;
}
#divv2
{
    /* display: flex;
    justify-content: center; */
    margin: 50px 50px;
    border: double 6px black;
    outline: solid 2px black;
}
#ff1
{
    /* border: 2px double black; */
    padding: 20px 20px;
    /*padding-top: 0px;
    width: 20cm;
    height: 24.3cm; */
}
#hih1
{
    text-align: center;
}
#tt,#th1,#td1
{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px ;
    height: 60px;
}

.age
{
    width: 30px;
    margin-right: 100px;
}
.borde{
    height: 150px;
}
.borde input[type="text"]
{
    border: none;
    outline: none;
    width: 35px;
    height: 50px;
    padding: 0%;
}
.name
{
    margin-right: 70px;
    height: 9px;
    width: 9px;
}
#divv7 {
    border: 1px solid black;
    height: 0px;
    width: 30px;
    margin-left: 10cm;
    margin-top: 0.6cm;
    padding-bottom: 1.2cm;
    display: flex;
    justify-content: center;
}
.mh_endbtn button
{
    font-size: 15px;
    padding: 12px 12px;
    border-radius: 10px;
    margin: 10px 4px;
}
.mh_endbtn button:hover
{
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(68, 66, 66);
    color: white;
    font-weight: 300;
}