
.k {
    font-style: oblique;
    font-weight: bold;
}

.id6 {
    font-weight: normal;
    border: double 6px black;
    outline: solid 2px black;
    padding-left: 10px;
    margin: 5%;
    font-style: normal;
}

.id6 h2 {
    text-align: center;
    font-weight: bold;
}

.id6 button {
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #4caf50;
    margin: 4px;
    margin-right: 5%;
    cursor: pointer;
  }




.sign1{
    font-style: oblique; 
    font-weight: bold; 

}